## Create DataFrames and Prepare Data

In [9]:
import pandas as pd
import numpy as np


df_regions = pd.read_csv("../data/noc_regions.csv")
df_regions.head()

df = pd.read_csv("../data/athlete_events.csv")
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
df_group = df.groupby("Sport")
df_group.head(15)

In [ ]:
from functions import bivariate

bivariate(df.head(15), 'Sport')

In [ ]:
from optimizedfunction import optimized_bivariate

optimized_bivariate(df, "Sport")

In [15]:
df[df['Year']> 2000]['Sport'].value_counts().to_dict()

{'Athletics': 9205,
 'Swimming': 6473,
 'Gymnastics': 3856,
 'Cross Country Skiing': 3076,
 'Biathlon': 2631,
 'Cycling': 2571,
 'Alpine Skiing': 2550,
 'Shooting': 2250,
 'Rowing': 2222,
 'Football': 1834,
 'Ice Hockey': 1773,
 'Canoeing': 1729,
 'Sailing': 1560,
 'Judo': 1543,
 'Hockey': 1516,
 'Speed Skating': 1445,
 'Equestrianism': 1416,
 'Handball': 1371,
 'Wrestling': 1370,
 'Fencing': 1346,
 'Basketball': 1142,
 'Volleyball': 1136,
 'Boxing': 1129,
 'Tennis': 1078,
 'Short Track Speed Skating': 1032,
 'Water Polo': 1026,
 'Weightlifting': 1009,
 'Table Tennis': 982,
 'Bobsleigh': 853,
 'Snowboarding': 809,
 'Archery': 806,
 'Ski Jumping': 750,
 'Badminton': 743,
 'Diving': 737,
 'Figure Skating': 657,
 'Freestyle Skiing': 657,
 'Nordic Combined': 522,
 'Taekwondo': 504,
 'Luge': 488,
 'Synchronized Swimming': 469,
 'Triathlon': 429,
 'Beach Volleyball': 384,
 'Baseball': 382,
 'Rhythmic Gymnastics': 370,
 'Curling': 367,
 'Rugby Sevens': 299,
 'Modern Pentathlon': 280,
 'Softball': 238,
 'Skeleton': 174,
 'Trampolining': 128,
 'Golf': 120}

In [18]:
unique_combinations = df[["Year", "Sport"]].drop_duplicates()
unique_combinations.head()

unique_combinations["Sport"].value_counts().to_dict()

{'Gymnastics': 29,
 'Fencing': 29,
 'Athletics': 29,
 'Swimming': 29,
 'Cycling': 29,
 'Rowing': 28,
 'Wrestling': 28,
 'Diving': 27,
 'Football': 27,
 'Water Polo': 27,
 'Shooting': 27,
 'Sailing': 26,
 'Weightlifting': 26,
 'Boxing': 25,
 'Equestrianism': 25,
 'Modern Pentathlon': 24,
 'Figure Skating': 24,
 'Ice Hockey': 23,
 'Hockey': 23,
 'Nordic Combined': 22,
 'Cross Country Skiing': 22,
 'Speed Skating': 22,
 'Ski Jumping': 22,
 'Bobsleigh': 21,
 'Canoeing': 19,
 'Basketball': 19,
 'Alpine Skiing': 19,
 'Tennis': 16,
 'Archery': 16,
 'Biathlon': 15,
 'Luge': 14,
 'Volleyball': 14,
 'Handball': 13,
 'Judo': 13,
 'Synchronized Swimming': 9,
 'Rhythmic Gymnastics': 9,
 'Table Tennis': 8,
 'Badminton': 7,
 'Short Track Speed Skating': 7,
 'Art Competitions': 7,
 'Freestyle Skiing': 7,
 'Tug-Of-War': 6,
 'Skeleton': 6,
 'Curling': 6,
 'Beach Volleyball': 6,
 'Trampolining': 5,
 'Baseball': 5,
 'Taekwondo': 5,
 'Snowboarding': 5,
 'Polo': 5,
 'Triathlon': 5,
 'Rugby': 4,
 'Softball': 4,
 'Golf': 3,
 'Alpinism': 3,
 'Lacrosse': 2,
 'Rugby Sevens': 1,
 'Cricket': 1,
 'Racquets': 1,
 'Motorboating': 1,
 'Military Ski Patrol': 1,
 'Croquet': 1,
 'Jeu De Paume': 1,
 'Roque': 1,
 'Basque Pelota': 1,
 'Aeronautics': 1}