In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
df = pd.read_csv('../data/NCAA_Data.csv')
df.head()

,DATA_TAB_GENERALINFO,SCL_UNITID,SCL_NAME,SPORT_CODE,SPORT_NAME,ACADEMIC_YEAR,SCL_DIV_19,SCL_SUB_19,D1_FB_CONF_19,CONFNAME_19,...,PUB_AWARD_15,PUB_AWARD_14,PUB_AWARD_13,PUB_AWARD_12,PUB_AWARD_11,PUB_AWARD_10,PUB_AWARD_09,PUB_AWARD_08,PUB_AWARD_07,PUB_AWARD_06
0,NaN,100654,Alabama A&M University,1,Baseball,2019,1,2,Southwestern Athletic Conf.,Southwestern Athletic Conf.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,100654,Alabama A&M University,2,Men's Basketball,2019,1,2,Southwestern Athletic Conf.,Southwestern Athletic Conf.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,100654,Alabama A&M University,4,Football,2019,1,2,Southwestern Athletic Conf.,Southwestern Athletic Conf.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,100654,Alabama A&M University,6,Men's Golf,2019,1,2,Southwestern Athletic Conf.,Southwestern Athletic Conf.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,100654,Alabama A&M University,13,Men's Tennis,2019,1,2,Southwestern Athletic Conf.,Southwestern Athletic Conf.,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [18]:
average_values = (
    df.groupby("SPORT_NAME").mean(numeric_only=True)
)
average_values = average_values.select_dtypes(include=[np.number])
average_values.dropna(axis=1)
average_values.columns.tolist()

['DATA_TAB_GENERALINFO',
 'SCL_UNITID',
 'SPORT_CODE',
 'ACADEMIC_YEAR',
 'SCL_DIV_19',
 'SCL_SUB_19',
 'DATA_TAB_MULTIYRRATE',
 'MULTIYR_APR_RATE_1000_RAW',
 'MULTIYR_APR_RATE_1000_CI',
 'MULTIYR_APR_RATE_1000_OFFICIAL',
 'MULTIYR_SQUAD_SIZE',
 'MULTIYR_ELIG_RATE',
 'MULTIYR_RET_RATE',
 'DATA_TAB_ANNUALRATE',
 'APR_RATE_2019_1000',
 'ELIG_RATE_2019',
 'RET_RATE_2019',
 'NUM_OF_ATHLETES_2019',
 'APR_RATE_2018_1000',
 'ELIG_RATE_2018',
 'RET_RATE_2018',
 'NUM_OF_ATHLETES_2018',
 'APR_RATE_2017_1000',
 'ELIG_RATE_2017',
 'RET_RATE_2017',
 'NUM_OF_ATHLETES_2017',
 'APR_RATE_2016_1000',
 'ELIG_RATE_2016',
 'RET_RATE_2016',
 'NUM_OF_ATHLETES_2016',
 'APR_RATE_2015_1000',
 'ELIG_RATE_2015',
 'RET_RATE_2015',
 'NUM_OF_ATHLETES_2015',
 'APR_RATE_2014_1000',
 'ELIG_RATE_2014',
 'RET_RATE_2014',
 'NUM_OF_ATHLETES_2014',
 'APR_RATE_2013_1000',
 'ELIG_RATE_2013',
 'RET_RATE_2013',
 'NUM_OF_ATHLETES_2013',
 'APR_RATE_2012_1000',
 'ELIG_RATE_2012',
 'RET_RATE_2012',
 'NUM_OF_ATHLETES_2012',
 'APR_RATE_2011_1000',
 'ELIG_RATE_2011',
 'RET_RATE_2011',
 'NUM_OF_ATHLETES_2011',
 'APR_RATE_2010_1000',
 'ELIG_RATE_2010',
 'RET_RATE_2010',
 'NUM_OF_ATHLETES_2010',
 'APR_RATE_2009_1000',
 'ELIG_RATE_2009',
 'RET_RATE_2009',
 'NUM_OF_ATHLETES_2009',
 'APR_RATE_2008_1000',
 'ELIG_RATE_2008',
 'RET_RATE_2008',
 'NUM_OF_ATHLETES_2008',
 'APR_RATE_2007_1000',
 'ELIG_RATE_2007',
 'RET_RATE_2007',
 'NUM_OF_ATHLETES_2007',
 'APR_RATE_2006_1000',
 'ELIG_RATE_2006',
 'RET_RATE_2006',
 'NUM_OF_ATHLETES_2006',
 'APR_RATE_2005_1000',
 'ELIG_RATE_2005',
 'RET_RATE_2005',
 'NUM_OF_ATHLETES_2005',
 'APR_RATE_2004_1000',
 'ELIG_RATE_2004',
 'RET_RATE_2004',
 'NUM_OF_ATHLETES_2004',
 'DATATAB_PUBLICAWARD',
 'PUB_AWARD_20',
 'PUB_AWARD_19',
 'PUB_AWARD_18',
 'PUB_AWARD_17',
 'PUB_AWARD_16',
 'PUB_AWARD_15',
 'PUB_AWARD_14',
 'PUB_AWARD_13',
 'PUB_AWARD_12',
 'PUB_AWARD_11',
 'PUB_AWARD_10',
 'PUB_AWARD_09',
 'PUB_AWARD_08',
 'PUB_AWARD_07',
 'PUB_AWARD_06']

In [ ]:
new_df = average_values[
    [
        "SPORT_NAME",
        "ACADEMIC_YEAR",
        "MULTIYR_APR_RATE_1000_OFFICIAL",
        "MULTIYR_SQUAD_SIZE",
        "MULTIYR_ELIG_RATE",
        
    ]
]